asgiref==3.5.2
certifi==2023.7.22
distlib==0.3.7
Django==4.1.4
factory-boy==3.2.1
Faker==15.3.4
filelock==3.12.4
pipenv==2023.10.3
platformdirs==3.11.0
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.3
tzdata==2023.3
virtualenv==20.24.5
